<div class="header-main">
  <div class="header-first">
    <h1>Shopping Cart</h1>
    
  </div>
  <div class="header-second">
    <!-- <div class="header-sub"><a href="">Home</a>
  <div class="header-sub"><a href="">Product</a>
  <div class="header-sub"><a href="">About</a>
  <div class="header-sub"><a href="">Contact</a> -->
    <!-- <div class="login" (click)="logIn()"></div> -->
    <div class="login" *ngIf="!log" (click)="logIn()">Log In</div>
  <div class="login" *ngIf="log" (click)="logOut()">Log Out</div>
  </div>
  

